*{
    margin: 0;
    padding: 0;
}

body{
  background : #dfdfdf;
  border-radius: 30px;
  height: 100%;
  padding: 25px 50px 75px 50px;
  box-shadow: 0px 25px 20px 20px rgb(0 0 0);
}

.container {
    border-radius: 37px;
    height:100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 4%;
}
.height{
  height: auto;
}

.noTees{
  position: fixed;
  inset: 0px;
  width: 12rem;
  height: 5rem;
  max-width: 100vw;
  max-height: 100dvh;
  margin: auto;
}

.shop-modal {
  right: 2%;
  /* position: fixed; */
  /* top: 0 !important; */
  width: 95vw;
}
.container {
  margin: auto;
  margin-top: 2%;
}

.RotateBtn {
  padding: 1%;
  margin-left: 3%;
  margin-top: 3%;
}

.tshirtDiv {
  margin-top: -3%;
  cursor: pointer;
}

.exceedText {
  margin: 3%;
  text-align: center
}

.imageContainer {
  img {
    height: 50%;
  }
}

#BackImage {
  height: 275px;
  background-image: url('../../assets/tshirt.png');
  background-repeat: round;
}

#BackImage {
  height: 275px;
  background-image: url('../../assets/t-shirts.jpg');
  background-repeat: round;
}

.canvas {
  margin-top: 60px;
  margin-left: 25%;
}

.NameText{
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
}

.loadMore{
  display: flex;
  justify-content: center;
}

.helperButton{
  display: flex;
  align-items: center;
  cursor: pointer;
  .delete{
    margin-inline: 4%;
    margin-top: 4%;
    margin-bottom: -3%;
    button{
      padding: 20%;
    }
  }
  .share{
    margin-inline: 2%;
    margin-top: 4%;
    margin-bottom: -3%;
    button{
      padding: 20%;
    }
  }
}

.card-text{
  color: #000;
}

@media(max-width:600px) {
  body{
    height: auto;
  }
}

/* scroll bar */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Style the scrollbar track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}

/* Style the scrollbar thumb */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}

/* Style the thumb on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
background: #999;
}