<app-loader *ngIf="isLoading"></app-loader>

<body class="custom-scrollbar">
    <app-header-page></app-header-page>
    <div class="container py-4">
        <div class="row gy-4">
            <div class="col-12 col-sm-6 col-md-4" *ngFor="let shirt of teeDatas">
                <div class="card h-100 text-white p-3 position-relative shadow-sm overflow-hidden">
                    <div class="position-absolute top-0 end-0 m-2 d-flex gap-2" style="z-index: 1;">
                        <button class="btn btn-dark btn-sm rounded-circle shadow" title="Share"
                            (click)="copytext(shirt._id)">
                            <i class="fa fa-share-alt text-white"></i>
                        </button>
                        <button *ngIf="from == 'personal'" class="btn btn-dark btn-sm rounded-circle shadow"
                            title="Delete" (click)="deleteTees(shirt._id)">
                            <i class="fa fa-trash text-white"></i>
                        </button>
                    </div>

                    <div class="text-center mt-4 position-relative image-container">
                        <!-- Base Shirt Image -->
                        <img [src]="shirt.teeSrc" class="parent-image img-fluid" style="max-height: 240px;"
                            alt="Base Shirt" />

                        <!-- Overlay Image -->
                        <img [src]="shirt.img" class="overlay-image img-fluid" style="max-height: 240px;"
                            alt="Overlay" />
                    </div>

                    <!-- Shirt Info -->
                    <div class="text-center mt-3">
                        <div class="fw-semibold fs-6">{{ shirt.teeName_Name }}</div>
                        <div class="small">Premium Oversized Tee</div>
                        <div class="small">Pearl White</div>
                        <div class="fw-bold mt-1 fs-6">Rs. {{ shirt.tee_Price }}</div>
                    </div>

                    <!-- Action Buttons -->
                    <div class="d-flex justify-content-center gap-2 mt-3">
                        <button class="btn btn-primary rounded-pill px-4 py-2" (click)="navigateBuyPage(shirt)">Buy
                            Now</button>
                        <!-- <button class="btn btn-light rounded-pill text-dark px-4 py-2">Add To Cart</button> -->
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="loadMore" *ngIf="from == 'common' && !DataFetched && !hideLoadbtn; else normalTees">
        <button type="button" class="btn btn-dark px-3 py-2" (click)="getTees()">
            Load more
        </button>
    </div>
    <ng-template #normalTees>
        <div *ngIf="from != 'common'">
            <div *ngIf="
                    from == 'personal' &&
                        !DataFetched &&
                        !hideLoadbtn &&
                        this.teeDatas.length != 0;
                    else elseBlockfornoshirt
                ">
                <div *ngIf="teeDatas.length > 3; else createBlockElse" style="display: flex; justify-content: center">
                    <div class="create text-center">
                        Tee design overload! Free up some space to unleash your creativity.
                    </div>
                </div>
                <ng-template #createBlockElse>
                    <div class="loadMore">
                        <button type="button" class="btn btn-dark px-3 py-2" (click)="openCanvas('create')">
                            Create
                        </button>
                    </div>
                </ng-template>
            </div>

            <ng-template #elseBlockfornoshirt>
                <div class="noTees">
                    <div style="text-align: center">
                        Looks like your t-shirt collection is empty. Time to add some style!
                    </div>
                    <div class="d-flex justify-content-center mt-2">
                        <button type="button" class="create btn btn-dark p-2" (click)="openCanvas('create')">
                            Create
                        </button>
                    </div>
                </div>
            </ng-template>
        </div>
    </ng-template>


</body>