body {
    background-color: #18181B;
    height: 100vh;
    overflow: auto;
    width: 100vw;
    font-family: merriWeather, sans-serif;
}

.card {
    background-color: #18181B;
    transition: transform 0.2s;
    border:#656565 1px solid;
    border-radius: 20px;
}
.card:hover {
  transform: scale(1.02);
}

.image-container {
  position: relative;
  display: inline-block;
}

.parent-image {
  height: auto;
}

.overlay-image {
    position: absolute;
    bottom: 4vh;
    left: 50.5%;
    transform: translateX(-50%);
    width: 27%;
    height: 64%;
    mix-blend-mode: multiply;
    opacity: 0.85;
    pointer-events: none;
}

.loadMore {
    justify-self: center;
}

.create {
    color: white;
}

/* scroll bar */
.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
}

/* Style the scrollbar track */
.custom-scrollbar::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
}

/* Style the scrollbar thumb */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
}

/* Style the thumb on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #999;
}


