.container{
    padding: 2%;
    margin-top: 5%;
    width: 50vw;
    /* height: auto !important; */
    background: gray;
  }
  
  ul{
    width: 50%;
  }
  
  .login {
    display: flex;
    justify-content: center;
  }