<footer>
     <p>© 2025, CREATEEFI</p>
     <nav>
          <a href="#" target="_blank">Refund policy</a> •
          <a href="#" target="_blank">Privacy policy</a> •
          <a href="#" target="_blank">Terms of service</a> •
          <a href="#" target="_blank">Shipping policy</a> •
          <a href="#" target="_blank">Contact information</a>
        </nav>
     <div class="social-links">
       <a href="https://instagram.com/createefi" target="_blank">
         <i class="fa-brands fa-instagram" style="font-size:24px; color:#B0B0B0;"></i>
     </a>
     </div>
   </footer>
   