<div *ngIf="data.dialogType == 'refund'" class="container my-5" style="max-height: 400px; overflow-y: auto;">
     <div class="card shadow-sm">
          <div class="card-body">
               <h2 class="mb-4">Refund Policy</h2>
               <p>
                    We do not offer refunds for custom-designed products.
                    As these items are made specifically to individual preferences, they cannot be resold to other
                    customers. We appreciate your understanding.
               </p>
               <p>
                    If you have a technical requirement or a sales query, please contact our support team for
                    assistance. We strive to provide you with the best support to configure our products.
               </p>
               <p>
                    In the rare case that you feel the product does not fit your requirements after making an effort to
                    configure it with our support team, please provide us with feedback. This will help us improve our
                    offerings.
               </p>
               <p>
                    To place a refund request, please contact us via email at <a
                         href="mailto:support@example.com">gautamjha&#64;createefi.in</a> or by accessing our Support
                    page.
                    Please have your order number available and provide a reason for your request to expedite the refund
                    process. Your request will be reviewed within 2 days, and we will notify you via email.
               </p>
          </div>
     </div>
</div>