<body>
    <app-header-page></app-header-page>
    <div class="canvas-containers">
        <!-- <canvas #teeCanvas id="canvas" class="teeCanvas"></canvas> -->
        <canvas #canvas id="canvas" class="canvas"></canvas>
    </div>
    <div class="control-container">
        <div class="shirtOptionContainer">
            <div class="shirtOptionContainer1">Shirt Side</div>
        </div>
        <div class="shirtOptionContainer">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off"
                    [checked]="true" />
                <label class="btn btn-outline-dark sideLabel" id="frontLabel" for="btnradio1">Front</label>
                <!-- <label class="btn btn-outline-dark sideLabel" id="frontLabel" for="btnradio1" (click)="toggleShirtSide('front')">Front</label> -->

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" />
                <label class="btn btn-outline-dark sideLabel" id="backLabel" for="btnradio2">Back</label>
                <!-- <label class="btn btn-outline-dark sideLabel" id="backLabel" for="btnradio2" (click)="toggleShirtSide('back')">Back</label> -->
            </div>
        </div>
        <div class="icon-controls">
            <!-- Image Upload with Icon -->
            <div class="image-upload-container">
                <label for="imageInput" class="icon-input-label">
                    <i class="fas fa-image"></i> Add Image
                </label>
                <input #imageInput id="imageInput" type="file" class="file" (change)="addImage($event)"
                    accept="image/*" />
            </div>

            <button class="icon-btn" (click)="addText()">
                <i class="fas fa-font"></i> Add Text
            </button>
            <button class="icon-btn" (click)="undo()"><i class="fas fa-undo"></i> Undo</button>
            <button class="icon-btn" (click)="redo()"><i class="fas fa-redo"></i> Redo</button>
            <!-- <button class="icon-btn" (click)="previewDesign()">
                   <i class="fas fa-eye"></i> Preview
               </button> -->
        </div>
    </div>
</body>