/* canvas {
    border: 1px solid red;
    display: block;
    margin: 0 auto;
  } */
  canvas {
    border: 1px solid #000;
    display: block;
    margin: 20px auto;
  }
  
  input {
    display: block;
    margin: 10px auto;
  }

  canvas {
    border: 1px solid #000;
    display: block;
    margin: 20px auto;
  }