<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="orderBy">
            <th mat-header-cell *matHeaderCellDef>OrderBy.</th>
            <td mat-cell *matCellDef="let element">{{ element.orderBy }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>price</th>
            <td mat-cell *matCellDef="let element">{{ element.price }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>quantity</th>
            <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="size">
            <th mat-header-cell *matHeaderCellDef>size</th>
            <td mat-cell *matCellDef="let element">{{ element.size }}</td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>type</th>
            <td mat-cell *matCellDef="let element">{{ element.type }}</td>
        </ng-container>

        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef>address</th>
            <td mat-cell *matCellDef="let element">{{ element.address }}</td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="modalBox()"></tr>
    </table>

    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator> -->
</div>

<div class="element-modal" [class.show]="showAddElementModal">
    <div class="element-modal-content">
        <div class="element-modal-header">
            <span>Tshirt Properties</span>
            <button class="element-close-btn" (click)="modalBox()">&times;</button>
        </div>
        <div class="element-modal-body">
            <div>asd</div>
        </div>
    </div>
</div>