/* * {
    margin: 0;
    padding: 0;
  } */
  
  body {
    /* height: 100%; */
    /* overflow: auto; */
    color: white;
    background-image: url('../../assets/blue-purple.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* margin: auto; */
  }
  .container{
    margin-top: 10vh;
  }
  .content-container {
    /* margin-top: 10vh; */
    padding: 4%;
    /* height: 70%; */
    background-color: #333;
    border-radius: 37px;
    margin-left: 20%;
    color: rgb(255, 255, 255);
    width: 60vw;
    height: 70vh;
  }

  /*.sidebar{
    margin-left: 20%;
    height: 100%;
  }

  .tab-content {
    width: 10%;
    color:rgb(239, 230, 230);
    
  }*/

  .profile-title {
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    margin-bottom: 3vh;
  }

  .InfoForm{
    /* text-align: center; */
    margin-left: 3vw;
    .labels{
      margin-top: 2%;
    }
  }

  .addressForm{
    margin-left: 3vw;
  }

  .input{
    input{
      width: 90%;
    }
  }

  .flexdiv{
    display: flex;
    justify-content: space-around;
    width: 47vw;
  }

  .addressArea{
    text-align: center;
    margin-top: 20vh;
  }


  /* merch css */
  .flexdivformerch{
    display: flex;
    justify-content: space-between;
    width: 47vw;
  }

  .flexdivformerchlable{
    display: flex;
    justify-content: space-between;
    width: 47vw;
  }

  .border{
    border:1px dotted rgba(252, 237, 237, 0.633) !important;
    border-radius: 10px;
    width: auto;
    padding-left: 1%;
    margin-left: 1vw;
    /* cursor: pointer; */
    button{
      position: relative;
      float: right;
      background: white;
      top: -10px;
      right: -10px;
      width: 25px;
      height: 25px;
      border-radius: 10px;
      i{
        vertical-align: middle;
        position: relative;
        top: -3px;
      }
  
    }
  }

  .withdraw{
    input{
      margin-right: 1rem;
    }
  }

  .help{
    display: flex;
    justify-content: center;
  }

  .raiseBtn{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
  }
/* @media(max-width:600px) {
  .content-container {
    margin-top: 22%;
    height: 70%;
    background: white;
    border-radius: 37px;
    margin-left: auto;
    color: rgb(0, 0, 0);
    width: 80%;
  }

  .profile-title {
    padding-top: 20%;
  }

  .InfoForm{
    margin-top: 25%;
    .labels{
      margin-top: 10%;
    }
  }
} */
