
  body {
    color: white;
    background-image: url('../../assets/black-bgg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  .container{
    margin-top: 10vh;
  }

  .buttonList {
    
  }

  .nav-link{
    color: rgb(235, 235, 235);
  }
  .nav-link.active{
    background-color: rgb(235, 235, 235) !important;
    border-color: #212529;
    color: black;
  }

  .content-container {
    padding: 4%;
    background-color: rgb(235, 235, 235);
    border-radius: 37px;
    margin-left: 20%;
    color: black;
    width: 60vw;
    height: 70vh;
    box-shadow: 0px 25px 20px 20px rgb(0 0 0);
  }

  .profile-title {
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    margin-bottom: 3vh;
  }

  .profile-title-merch{
    font-weight: 800;
    font-size: 24px;
    text-align: center;
  }

  .profile-title-coupon{
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    margin-right: 10px;
  }

  .profile-title-help{
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    margin-bottom: 3vh;
  }

  .main-container{
    height: 82vh;
    display: flex;
    align-items: center;
  }

  .InfoForm{
    margin-left: 3vw;
    .labels{
      margin-top: 2%;
    }
  }

  .addressForm{
    margin-left: 3vw;
    overflow: auto;
  }

  .input{
    input{
      width: 90%;
    }
  }

  .flexdiv{
    display: flex;
    justify-content: space-around;
    width: 47vw;
  }

  .addressArea{
    text-align: center;
    margin-top: 20vh;
  }

  .hideOnDesktop{
    display: none
  }

  .flexdivformerch{
    display: flex;
    justify-content: space-evenly;
    font-size: 24px;
  }

  .flexdivformerchlable{
    display: flex;
    justify-content: center;
    font-size: 24px;
  }

  .couponBtn{
    text-align: center; 
    width: 100%;
    margin-bottom: 2vh;
    margin-top: 1vh;
  }

  .border{
    border:1px solid rgba(0, 0, 0, 0.633) !important;
    border-radius: 10px;
    width: auto;
    padding-left: 1%;
    margin-left: 1vw;
    
  }

  .deleteBtn{
      width: 25px;
      height: 25px;
      border-radius: 10px;
      i{
        vertical-align: middle;
        position: relative;
        top: -44%;
        margin-left: -2px;
      }
  }

  .withdraw{
    input{
      margin-right: 1rem;
    }
  }

  .help{
    display: flex;
    justify-content: center;
  }

  .raiseBtn{
    display: flex;
    justify-content: center;
    margin-top: 3vh;
  } 

  .hideOnMobile{
    z-index: 99;
  }
  
  .orderDiv{
    height: 50vh;
    width: 90vw;
    overflow: auto;
  }

  .order-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    width: 62%;
}
  .order-details {
    display: contents;
  }
  .order-details div {
      margin: 3px 0;
  }
  .order-actions a {
      text-decoration: none;
      color: #0073bb;
      margin-left: 10px;
  }
  .order-actions a:hover {
      text-decoration: underline;
  }


  .booking-card {
    background-color: #ffffff;
    width: 85%;
    border-top: 1px solid #8d8d8d; /* Top border */
    border-bottom: 1px solid #8d8d8d; /* Bottom border */
    border-left: none; /* No left border */
    border-right: none; /* No right border */
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
    margin-bottom: 2vh;
    flex-direction: column-reverse;

  }

  .date {
    color: #16a34a;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .title {
    font-size: 18px;
    font-weight: bold;
  }

  .details {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
  }

  .details span {
    margin-right: 10px;
  }

  .details svg {
    width: 14px;
    height: 14px;
    fill: #555;
    margin-right: 5px;
  }
  

@media(max-width:600px) {
  body{
    width: 100vw !important;
  }

  .container{
    margin-top: 5vh;
  }

  .main-container{
    height: 70vh;
    justify-content: center;
  }

  .buttonList{
    display: grid;
    justify-content: center;
    margin-bottom: 50px;
  }
  .tablist{
    display: ruby;
  }
  .content-container {
    height: auto;
    background: white;
    border-radius: 37px;
    margin-left: 5%;
    color: rgb(0, 0, 0);
    width: 85vw;
  }

  .profile-title {
    margin-bottom: 0;
    
  }

  .profile-title-merch{
    width: 80%;
  }

  .profile-title-coupon{
    width: 80%;
    font-size: 24px !important;
  }

  .InfoForm{
    .labels{
      margin-top: 10%;
    }
  }
  .flexdiv{
    display: block;
    justify-content: space-around;
  }
  .hideOnDesktop{
    display: flex;
    justify-content: center;
    box-shadow: 4px 5px 20px 20px rgb(85 83 83);
  }

  .addressForm{
    margin-left: 3vw;
    height: 22vh;
    overflow: auto;
  }

  .hideOnMobile{
    display: none;
  }

  .buttonDiv{
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
  }

  .textTag{
    margin-bottom: 0px;
    margin-top: -5px;
    margin-left: -3px;
  }

  .flexdivformerch{
    width: 60vw;
    font-size: 14px;
    div:first-child{
      width: 72%;
    }
    input{
      width: 80%;
    }
  }

  .merch-container{
    width: 100vw;
  }

  .flexdivformerchlable{
    width: auto;
    font-size: 16px;
  }

  .withdraw-btn{
    display: flex;
    justify-content: center;
    width: 74%;
    margin-top: 3vh;
  }

  .mobileWidth{
    width: 74%;
    font-size: 16px ;
  }

  .couponBtn{
    text-align: center; 
    width: 74%;
    margin-bottom: 2vh;
  }

  .helpDiv{
    width: 90vw;
  }
   
  .help{
    width:74vw;
  }

  .profile-title-help{
    width: 90%;
  }

  .raiseBtn{
    width: 86%;
  }

  .deleteBtn{
    width: 18px;
    height: 18px;
    border-radius: 10px;
  }
}

textarea { resize: none; }
