<body>
    <app-header-page></app-header-page>
    <!--code for multiple tab we might need -->
    <div class="container">
        <div class="align-items-center sidebar buttonList">
          <div class="main-container">
            <div class="hideOnMobile">
              <div class="nav flex-column nav-pills me-3 tablist" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link sideButton active" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false" (click)="changeTab('profile')">Profile</button>
                <button class="nav-link sideButton" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false" (click)="changeTab('merch')">Merch</button>
                <button class="nav-link sideButton" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false" (click)="changeTab('help')">Need help?</button>
                <button class="nav-link sideButton " id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false" (click)="changeTab('order')">Orders</button>
                <button class="nav-link sideButton" data-bs-target="#v-pills-Payout" type="button" role="tab" aria-selected="false" (click)="logout()">Logout</button>
              </div>
            </div>
             <!-- content from here  -->
            <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" style="margin-top: -50px; margin-left: 3vw;width: 100%;">
              <div class="content-container">
                <div *ngIf="this.activeTab == 'profile'">
                  <div class="profile-title">
                    Profile Information
                  </div>
                  <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="InfoForm">
                      <div>
                        Name &nbsp;&nbsp;: &nbsp;&nbsp;{{userData?.user_Name}}
                      </div>           
                      <div>
                        Email &nbsp;&nbsp; : &nbsp;&nbsp;{{userData?.user_Email}}
                      </div>             
                      <div>
                        Coins &nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;{{userData?.user_Creatify_Coins}}
                      </div>             
                    </div>
                  </div>
                  <div class="profile-title">
                    Address
                  </div>
                  <div class="addressForm">
                    <form [formGroup]="myForm">
                      <div class="Building">
                        <label>  Flat, House no., Building, Apartment , Street </label>
                        <div class="input">
                          <input formControlName="building" [disabled]="formEdit">
                        </div>
                      </div>
                      <div class="Area">
                        <label> Area, Sector, town/city </label>
                        <div class="input">
                          <input formControlName="area" [disabled]="formEdit">
                        </div>
                      </div>
                      <div class="LandMark">
                        <label> Landmark </label>
                        <div class="input">
                          <input formControlName="landmark" [disabled]="formEdit" placeholder="E.g Near appolo hospital - dombivli(e)" >
                        </div>
                      </div>
                      <div class="flexdiv">
                        <div class="stateDiv" >
                          <label>
                            State
                          </label>
                          <div class="input-half">
                            <input formControlName="city" [disabled]="formEdit" >
                          </div>
                        </div>
                        <div class="pincode">
                          <label>
                            pincode
                          </label>
                          <div class="input-half">
                            <input type="number"  onpaste="return false;" onKeyPress="if(this.value.length>=6) return false;" [(ngModel)]="pincode" (input)="fetchAddress()" formControlName="pincode" [disabled]="formEdit" >
                          </div>
                        </div>
                      </div>
                      <div class="text-center mt-2" style="margin-left: -3vw;">  
                        <button class="btn btn-dark" type="submit" [disabled]="myForm.invalid" (click)="AddOrUpdateAddress()">Update</button>
                      </div>
                    </form>
                  </div>
                </div>
                <div *ngIf="this.activeTab == 'merch'" class="merch-container">
                  
                  <div *ngIf="this.merchAccount == 'Normal';else merchArea">
                    <div class="tab-pane fade show active " id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                      <div class="addressArea">
                        Upgrade your Account to merch account and Start Selling your Creatives
                        <div class="text-center mt-4" style="margin-left: -3vw;">  
                          <button type="submit" [disabled]="myForm.invalid" (click)="updateMerch()">Update</button>
                        </div>   
                      </div>
                    </div>
                  </div>
                  <ng-template #merchArea>
                    <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                      <div class="InfoForm">
                        <div class="profile-title-merch">
                          Merch Statistics
                        </div>
                        <div class="d-flex justify-content-center fs-6 mobileWidth">
                          Tshirts sold &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;123123
                        </div>
                        <div class="d-flex justify-content-center fs-6 mobileWidth">
                          Money earned &nbsp;&nbsp; : &nbsp;&nbsp;123123
                          </div>
                        <div class="d-flex justify-content-center fs-6 mobileWidth mb-3">
                          Money available &nbsp;&nbsp; : &nbsp;&nbsp;123123
                        </div>
                        <div>
                          <div class="profile-title-coupon mobileWidth ">
                            Add Coupon
                          </div>
                          <div *ngIf="couponAvailable == false; else activeCouponArea" class="mb-1 mt-1">
                            <div class="flexdivformerch" >
                              <div>
                                Coupon name <input type="text" placeholder="Monti20" [(ngModel)]="couponName" [ngModelOptions]="{standalone: true}">
                              </div>
                               <div>
                                Coupon off <input onkeyup="if(this.value > 15) this.value = null; if(this.value < 0) this.value = null" type="number" min="5" max="15" [(ngModel)]="couponOff" [ngModelOptions]="{standalone: true}">
                               </div>
                            </div>   
                            <div class="flexdivformerchlable mobileWidth">
                              <div>
                                Discount range from 5% to 15%
                              </div>
                            </div> 
                            <div class="couponBtn" >
                              <button  class="btn btn-dark" type="submit" [disabled]="couponOff == 0 || couponName == '' " (click)="addCoupon()">Add coupon</button>
                            </div>
                          </div>
                          <ng-template #activeCouponArea>
                            <div class="flexdivformerch mb-3 mt-3" style="justify-content:flex-start;">
                              <div>
                                Active coupon name : 
                              </div>
                              <div class="border">{{this.couponName}} </div>
                              <button class="deleteBtn" (click)="removeCoupon()"><i class="fa fa-trash fa-2xs" aria-hidden="true"></i></button>
                            </div>   
                          </ng-template> 
                        </div>
                        <div class="withdraw" >
                          <div class="profile-title-coupon mobileWidth ">
                            Pay Out
                          </div>
                          <!-- <div class="text-center mobileWidth">
                            <input [(ngModel)]="upiId" placeholder="Enter upi Id" [ngModelOptions]="{standalone: true}">
                          </div> -->
                          <div class="withdraw-btn text-center mt-2 mobileWidth">
                            <button class="btn btn-dark" type="submit" [disabled]="upiId.length < 15" (click)="withdraw()">withdraw</button> 
                          </div>
                         </div>
                      </div>
                    </div>
                  </ng-template>
                </div>
                <div *ngIf="this.activeTab == 'help'" class="helpDiv">
                  <div class="profile-title-help">
                    Help
                  </div>
                  <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="InfoForm">
                      <div class="help" >
                        <textarea  id="textarea" type="text" (keyup)="onKeyUp($event)"rows="2" cols="50" placeholder="Raise A Concern/Query"></textarea>
                      </div>         
                      <div class="raiseBtn">
                      <button class="btn btn-dark" type="submit" [disabled]="queryQuetions.length < 15" (click)="postQuestion()">Raise</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="this.activeTab == 'order' && orderData.length > 0;" class="orderDiv">
                  <div class="order-summary hideOnMobile mb-2"  *ngFor="let orders of orderData; let i = index">
                    <div class="order-details" >
                        <div><strong>ORDER PLACED</strong><br>{{orders.createdAt}}</div>
                        <div><strong>ORDER STATUS</strong><br>{{orders.order_status}}</div>
                        <div><strong>TOTAL</strong><br>₹{{orders.order_price}}</div>
                        <div *ngIf="orders.tee_from != 'You'"><strong>Made By</strong><br>c/{{orders.tee_from}}</div>
                        <div *ngIf="orders.tee_from == 'You'"><strong>Made By</strong><br>{{orders.tee_from}}</div>  
                    </div>
                    <div class="order-actions">
                        <div><strong>ORDER # {{orders.order_Id}}</strong></div>
                        <div> <a href="#">View order details</a> </div>
                    </div>
                  </div>
                  <div class="booking-card hideOnDesktop" *ngFor="let orders of orderData; let i = index">
                    <div class="date">{{orders.createdAt}} - {{orders.order_status}}</div>
                    <div class="title" *ngIf="orders.tee_from != 'You'">c/{{orders.tee_from}}</div>
                    <div class="title" *ngIf="orders.tee_from == 'You'">{{orders.tee_from}}</div>
                    <div class="details">
                      <span>
                        ₹{{orders.order_price}}
                      </span>
                      <span>
                        # {{orders.order_Id}}
                      </span>
                    </div>
                  </div>                    
                </div>
                  <div class="noOrderText" style="height: 450px;" *ngIf="this.activeTab == 'order' && orderData.length == 0;">
                    No orders yet! Your next favorite outfit is just a click away.
                  </div>
              </div>
            </div>
          </div>
          <div class="hideOnDesktop">
            <div class="nav flex-column nav-pills me-3 tablist" style=" padding-inline: 10px;" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <div class="buttonDiv">
                <div>
                  <button class="nav-link sideButton active" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false" (click)="changeTab('profile')"><i class="fa fa-user" aria-hidden="true"></i><p class="textTag">Profile</p></button>
                  <!-- <p>profile</p> -->
                </div>
                <div>
                  <button class="nav-link sideButton" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false" (click)="changeTab('merch')"><i class="fas fa-tshirt"></i><p class="textTag">Merch</p></button>
                </div>
                <div>
                  <button class="nav-link sideButton" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false" (click)="changeTab('help')"><i class="fa fa-question-circle" aria-hidden="true"></i><p class="textTag">Help?</p></button>
                </div>
                <div>
                  <button class="nav-link sideButton" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false" (click)="changeTab('order')"><i class="fa fa-cart-shopping" aria-hidden="true"></i><p class="textTag">Orders</p></button>
                </div>
                <div>
                  <button class="nav-link sideButton" data-bs-target="#v-pills-Payout" type="button" role="tab" aria-selected="false" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i><p class="textTag">Logout</p></button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <ngx-ui-loader ></ngx-ui-loader>
</body>
