  <mat-stepper [linear]="true" #stepper style="height: 420px; width: 100%;">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" style="margin-top: 5%;">
        <ng-template matStepLabel class="mobileFontSize">Address</ng-template>
        <div>
          <mat-form-field style="width: 100%">
            <mat-label class="mobileFontSize">Flat, House no., Building, Apartment , Street</mat-label>
            <input matInput placeholder="Flat, House no., Building, Apartment , Street" formControlName="building" required class="mobileFontSize"> 
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width: 45%; margin-right: 5%;">
            <mat-label class="mobileFontSize">Area, Sector, town/city</mat-label>
            <input matInput placeholder="Area, Sector, town/city" formControlName="area" required>
          </mat-form-field>
          <mat-form-field style="width: 50%;">
            <mat-label class="mobileFontSize">Landmark</mat-label>
            <input matInput placeholder="Landmark" formControlName="landmark">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field style="width: 45%; margin-right: 5%;">
            <mat-label class="mobileFontSize">State</mat-label>
            <input matInput placeholder="State" oninput="this.value = this.value.toUpperCase()"  formControlName="city" required>
          </mat-form-field>
          <mat-form-field style="width: 50%;">
            <mat-label class="mobileFontSize">Pincode</mat-label>
            <input matInput placeholder="Pincode" formControlName="pincode" required>
          </mat-form-field>
        </div>
        <div style="text-align: center;">
          <button type="button" style="width: auto" class="RotateBtn btn btn-circle btn-primary mx-0" [disabled]="firstFormGroup.invalid" matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Verify User" *ngIf=" this.storedData?.visitor != null">
      <form [formGroup]="secondFormGroup">
        <!-- <ng-template matStepLabel>Enter Mobile Number</ng-template> -->
        <div>
          <mat-form-field style="width: 100%">
            <mat-label class="mobileFontSize">Mobile Number</mat-label>
            <input matInput type="text"  placeholder="Mobile Number" maxlength="10" formControlName="phoneNumber" required [disabled]="true"/>
            <button matSuffix mat-icon-button aria-label="Clear" (click)="clearForm()">
              <mat-icon>close</mat-icon>
            </button>
            <!-- <mat-error *ngIf="secondFormGroup.invalid">{{secondFormGroup.invalid}}</mat-error> -->
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-around" *ngIf="secondFormGroup.value.phoneNumber.length == 10">
          <mat-form-field style="width: 20%">
            <input class="otpButton" matInput placeholder="" [disabled]="numberVerified" formControlName="otp1" (keyup)="moveToNextInputReg($event)" maxlength="1" required>
          </mat-form-field>
          <mat-form-field style="width: 20%">
            <input class="otpButton" matInput placeholder="" [disabled]="numberVerified" formControlName="otp2" (keyup)="moveToNextInputReg($event)" maxlength="1" required>
          </mat-form-field>
          <mat-form-field style="width: 20%">
            <input class="otpButton" matInput placeholder="" [disabled]="numberVerified" formControlName="otp3" (keyup)="moveToNextInputReg($event)" maxlength="1" required>
          </mat-form-field>
          <mat-form-field style="width: 20%">
            <input class="otpButton" matInput placeholder="" [disabled]="numberVerified" formControlName="otp4" (keyup)="moveToNextInputReg($event)" maxlength="1" required>
          </mat-form-field>
          
        </div>
        <div class="buttonContainer">
          <div class="btnBack">
            <button type="button" class="RotateBtn btn btn-circle btn-primary mx-0" matStepperPrevious>{{numberVerified}}</button>
          </div>
          <div class="btnOnline">
            <button type="button" class="RotateBtn btn btn-circle btn-primary mx-0" [disabled]="secondFormGroup.invalid" matStepperNext (click)="verify()">{{verifyLabel}}</button>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step label="Order Summary">      
        <div class="containerAddressGroup">
          <div class="orderTshirtHeader">
            <div> Buying : </div>
            <div class="orderTshirtName">&nbsp;{{buyPageData.teeName_Name}}</div>
          </div>
          <hr>
          <div>
            <div class="orderTshirtName">Price Details</div>
            <div class="detailsFlex">
              <div class="detailsFlexContainer">Price </div>
              <div class="detailsFlexContainer">₹{{buyPageData.price}}</div>
            </div>
            <!-- <div class="detailsFlex">
              <div class="detailsFlexContainer">Quantity</div>
              <div class="detailsFlexContainer">
                <select [(ngModel)]="userQuantity" (change)="calculatePrice()">
                  <option value="1" selected >1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                
              </div>
            </div> -->
            <div class="detailsFlex">
              <div class="detailsFlexContainer">Size</div>
              <div class="detailsFlexContainer">{{buyPageData.size}}</div>
            </div>
            <div class="detailsFlex">
              <div class="detailsFlexContainer">Delivery Charges(applicable for COD)</div>
              <div class="detailsFlexContainer">₹59</div>
            </div>
            <hr>
            <div class="detailsFlex">
              <div class="detailsFlexContainer orderTshirtName">Total Amount</div>
              <div class="detailsFlexContainer orderTshirtName">₹{{finalPrice}}</div>
            </div>
          </div>
          <hr>
          <div>
            <div class="orderTshirtName">Deliver To :</div>
              <div> {{firstFormGroup.value.building}} </div>
              <div> {{firstFormGroup.value.area}} &nbsp; {{firstFormGroup.value.landmark}} </div>
              <div> {{firstFormGroup.value.city}} &nbsp; {{firstFormGroup.value.pincode}}</div>
          </div>
           
        </div> 
        <div class="buttonContainer">
          <div class="btnBack">
            <button type="button" class="RotateBtn btn btn-circle btn-primary mx-0" matStepperPrevious>Back</button>
          </div>
          <div class="btnCod">
            <button type="button" class="RotateBtn btn btn-circle btn-warning mx-0" matStepperNext (click)="openModal('cod')">Proceed with COD</button>
          </div>
          <div class="btnOnline">
            <button type="button" class="RotateBtn btn btn-circle btn-warning mx-0" matStepperNext (click)="createRazorPayOrder()">Instant Pay</button>
          </div>
        </div>
    </mat-step>
  </mat-stepper>