<header>
    <!-- Normal header for users -->
    <div class="navbar" *ngIf="!merchPage; else merchHeader">
        <div class="nav-left">
            <button class="menu-btn" (click)="openMobileHamburger()" *ngIf="isLoggedIn">
                &#9776;
            </button>
            <img src="../../assets/createefi/lgo.png" style="width: 205px;" (click)="onDivClick('')"
                alt="CREATEEFI Logo" class="logo" />
        </div>

        <nav class="nav-center" [ngClass]="{ 'show': isMenuOpen }">
            <a (click)="onDivClick('shop')">Shop</a>
            <a (click)="onDivClick('tees')" *ngIf="isLoggedIn">Create</a>
        </nav>

        <div class="nav-right" *ngIf="isLoggedIn; else loginButton">
            <i class="fa-solid fa-user" (click)="onDivClick('account')"></i>
        </div>

        <ng-template #loginButton>
            <div class="nav-right">
                <i class="fa-solid fa-right-to-bracket" (click)="openModal()"></i>
            </div>
        </ng-template>
    </div>

    <!-- Guest header (Merch page) -->
    <ng-template #merchHeader>
        <header class="navbar creator-merch-header">
            <div class="creator-logo-left">
                <span class="creator-name">{{ visitor.visitor }}</span>
            </div>
            <div class="createefi-logo-right">
                <img src="/assets/createefi/lgo.png" alt="CREATEEFI Logo" class="logo" (click)="onDivClick('')" />
            </div>
        </header>
    </ng-template>
</header>