<header>
    <div class="navbar" *ngIf="isLoggedIn !== '';else merchHeader">
        <div class="nav-left">
            <button class="menu-btn" (click)="openMobileHamburger()"
                *ngIf="isLoggedIn !== '' && isLoggedIn !== null">&#9776;</button>
            <img src="../../assets/createefi/lgo.png" style="width: 205px;" (click)="onDivClick('')"
                alt="CREATEEFI Logo" class="logo" />
        </div>

        <div *ngIf="isLoggedIn !== '' && isLoggedIn !== null;">
            <nav class=" nav-center" [ngClass]="{ 'show': isMenuOpen}">
                <a (click)="onDivClick('shop')">Shop</a>
                <a (click)="onDivClick('tees')">Create</a>
            </nav>
        </div>

        <!-- If logged in -->
        <div class="nav-right" *ngIf="isLoggedIn !== '' && isLoggedIn !== null; else loginButton">
            <i class="fa-solid fa-user" (click)="onDivClick('account')"></i>
        </div>

        <!-- If NOT logged in -->
        <ng-template #loginButton>
            <div class="nav-right">
                <i class="fa-solid fa-right-to-bracket" (click)="openModal()"></i>
            </div>
        </ng-template>
    </div>
    <ng-template #merchHeader>
        <header class="navbar creator-merch-header">
            <div class="creator-logo-left">
                <span class="creator-name">{{ visitor.visitor }}</span>
            </div>
            <div class="createefi-logo-right">
                <img src="/assets/createefi/lgo.png" alt="CREATEEFI Logo" class="logo" />
            </div>
        </header>
    </ng-template>

</header>