.heading {
    height: 7%;
    background-color: aqua;
    padding: 25px 50px 0 100px;
}
#left-header {
    float: left;
    cursor: pointer;
    font-size: 30px;
} 
#right-header {
    display: flex;
    
    float: right;
}
.tabs {
    margin-left: 20px;
    cursor: pointer;
}