
<body>
    <div class="title mt-3">
        You get Rs.500 And your friend gets Rs.200
    </div>
    <div class="description">
        Ask your friends to sign up on CREATEEFI with your referral code and you'll both get a reward! You'll get Rs.500, and they'll get Rs.200.
    </div>
    <div class="code" (click)="copy()" [ngClass]="{'copied': isCopied}">
        <span>{{ localData }}</span>
        <i class="fa-regular fa-copy mx-2"></i>
    </div>
    <div class="codeHelper">
        Input above Name or copylink for direct referral 
    </div>
</body>