<!-- <div class="d-flex justify-content-center">
    Refer Your Friend and Earn Rs 500
</div> -->
<body>
    <div class="header d-flex justify-content-center">
        Share with your Homies what are you upto
    </div>
    <div class="title">
        You get Rs.500 And your friend gets Rs.200
    </div>
    <div class="description">
        Ask your friends to sign up on CREATEEFI with your referral code and you'll both get a reward! You'll get Rs.500, and they'll get Rs.200.
    </div>
    <div class="code">
        <span>CREATEEFI</span>
    </div>
    <div class="codeHelper">
        Click on the above text to copy link
    </div>
</body>