*{
  margin: 0;
  padding: 0;
}

body {
  text-transform: uppercase;
  height: 100%;
  /* overflow: auto; */
  color: white;
  background-image: url('../../assets/black-bgg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}

.container {
    position: fixed;
    .canvas {
      position: relative;
      display: block;
      border: 1px solid red;
      z-index: 999;
      margin-top: 78px;
      margin-left: 122px;
    }
    .mainCanvas{
      display: block;
      position: fixed;
      top: 10vh;
      border: 1px solid red;
    }
    
    .imgContainer{
      margin-left: 10%;
      margin-top: 6%;
    }

    img {
      height: 60vh;
    }

    .utils {
      position: fixed;
      padding: 3%;
      background-color: #dfdfdf;
      border-radius: 6%;
      top: 15%;
      right: 5%;
      box-shadow: #333;
      color: black;

      .shirtOptionContainer{ 
        text-align:center;
        margin: auto;
      }

      .sideLabel{
        width: 4vw;
        border-color: white;
      }

      .radio-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
      }
      
      .radio-group input[type="radio"] {
        margin-right: 5px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid #ccc;
      }
      
      .radio-group input[type="radio"]:checked {
        background-color: #333;
        border-color: #333;
      }

      .btn-circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        padding: 0;
      }
      
      .btn-red {
        background-color: red;
      }
      
      .btn-blue {
        background-color: blue;
      }
      
      .btn-green {
        background-color: green;
      }

      .radio-buttons {
        text-align: center;
      }
    }

    .saveButton {
      display: flex;
      justify-content: center;
    }

    .colorNote{
      width: 28vw;
      text-align: center;
    }

    .RemoveBtn{
      padding: 10px;
      display: flex ;
      justify-content: center;        
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      border-radius: 15px;
    }
}

.mainDiv{
  height: 60vh;
}

.tipDiv{
  width: 25vw;
  text-align: center;
}

textarea {
  resize: none;
}

.grab {
  cursor: grab;
}

.grabbing {
  cursor: grabbing;
}

/* fileupload */
.fileUpload {
	background: #000000;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	margin: 1.25em auto;/*20px/16px 0*/
	overflow: hidden;
	padding: 0.875em;/*14px/16px*/
	position: relative;
	text-align: center;
	width: 120px;
   cursor: pointer;
}
.fileUpload:hover, .fileUpload:active, .fileUpload:focus {
	background: #000000;
  cursor: pointer;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 148px;
    height: 46px;
}

input[type="file"] {
    position: fixed;
    right: 100%;
    bottom: 100%;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.btnColorBlack{
  background-color: black;
}
.btnColorWhite{
  background-color: white;
  border-color: black;
}
.btnColorBlue{
  background-color: rgba(0,0,57,255);
}
.btnColorMaroon{
  background-color: rgba(74,0,0,255)
}

@media(max-width:600px) {
  .container {
    position: relative;
    /* padding: 2.5%; */
    padding-top: 20%;
    padding-right: 3%;
    padding-left: 9%;
    img{

      margin-left: 0%;
      height: 60vh;
    }

    .utilsforMobView { 
      text-align: start;
      margin-left: auto;
    }

    img {
      width: 90%;
    }

    .canvas {
      position: absolute;
        width: 40%;
        left: 20.6%;
        height: 47%;
        top: 48%;
    }

    .mainCanvas{
      border: 1px solid red;
    }

    .utils {
      display: none;
        position: absolute;
        top: auto;
        right: auto;
    }

    .saveButton {
      display: flex;
      justify-content: center;
      p {
        text-align: center;
        margin-right: 13%;
        margin-top: 7%;
      }
      display: block;
    }
  }

  .bottomNavBarforMobView {
    display: block;

    .navbar {
      overflow: hidden;
      background-color: #333;
      position: fixed;
      bottom: 0;
      width: 100%;
      .upload {
        margin-left: 10%;
        color: white;

        .uploadIcon{
          margin: 0;
          text-align: center;
        }

        .uploadText {
          margin: 0;
          margin-top: -10%;
        }
      }
      .color {
        color: white;

        .colorIcon{
          margin: 0;
          text-align: center;
        }

        .colorText {
          margin: 0;
          margin-top: -10%;
        }
      }
      .size {
        margin-right: 10%;
        color: white;

        .sizeIcon{
          margin: 0;
          text-align: center;
        }

        .sizeText {
          margin: 0;
          margin-top: -35%;
        }
      }
    }
  
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #f1f1f1;
    color: black;
  }
  
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }

  .hideforMobile {
    display: none;
  }
  }

 
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    
}

@media(min-width:1025px) {
  .container {
    position: relative;
    padding: 2.5%;
    margin-left: 10%;
    .utilsforMobView {
      display: none;
    }
  }

  

  .bottomNavBarforMobView {
    display: none;
  }
}