<body>
  <app-header-page></app-header-page>
  <div class="container">
    <div class="utilsforMobView">
      <div class="mb-2">
        <p><textarea ng-model="name" (keyup)="onKeyUp($event)" style="width: 50%;" rows="1" cols="50" placeholder="Design Name"></textarea></p>
      </div>
    </div>
    
    <canvas #canvas class="canvas" id="canvas" width="250" ></canvas>
    <img id="draggable" src="../../assets/tshirt.png" >
    
    <form [formGroup]="teeDetailForm" (ngSubmit)="onSubmit(teeDetailForm)">
      <div class="utils">
        <div class="shirtOptionContainer">
          <div class="shirtOptionContainer1">Shirt Side</div>
          <div class="shirtOptionContainer2">Design Preferences</div>
        </div>
        <div class="shirtOptionContainer">
          <div class="shirtOptionContainer1">
            <input type="radio" id="option1" name="radio-options" value="option1" (click)="toggleShirtSide('front')" checked>
            Front
            <input type="radio" id="option1" name="radio-options" value="option1" (click)="toggleShirtSide('back')">
            Back
          </div>
          <div class="shirtOptionContainer2">
            <input type="radio" id="option2" name="radio-options1" value="option2" (click)="toggleShirtpreference('personal')" checked>
            Personal
            <input type="radio" id="option2" name="radio-options1" value="option2" (click)="toggleShirtpreference('merch')">
            Merch
        </div>
        </div>
        <div class="mb-2">
          <p class="mb-0">Design Name:</p>
          <textarea ng-model="designName" (keyup)="onKeyUp($event)"  rows="1" cols="50" formControlName="teeName"></textarea>
        </div>
        <div class="mb-4">
          <p class="mb-0">Colors:</p>
          <button type="button" class="btn btn-circle btn-red mx-2" (click)="changeColor('red')"></button>
          <button type="button" class="btn btn-circle btn-red mx-2" (click)="changeColor('red')"></button>
          <button type="button" class="btn btn-circle btn-red mx-2" (click)="changeColor('red')"></button>
          <button type="button" class="btn btn-circle btn-red mx-2" (click)="changeColor('red')"></button>
        </div>
        <!-- <div class="mb-4">
          <p class="mb-0">Size:</p>
          <div>
              <button class="btn btn-primary mx-2" [class.pattern-applied]="isPatternApplied" (click)="changeHeight('S')" >S</button>
              <button class="btn btn-primary mx-2" (click)="changeHeight('M')" >M</button>
              <button class="btn btn-primary mx-2" (click)="changeHeight('L')" >L</button>
              <button class="btn btn-primary mx-2" (click)="changeHeight('XL')" >XL</button>
          </div>
          <p class="mb-0">current height and width is {{teeSize}}</p>
        </div> -->
        <div class="mb-2">
          <div *ngIf="currentSide == 'front'; else elseBlockFront">      
            <div *ngIf="isImgUploaded == false; else uploadFront">
              <div class="fileUpload" >
                <input #imageInput class="file" type="file" class="upload" (change)="handleFileChange($event)"  accept="image/png"/>
                <span>Uploadfront</span>
              </div>
            </div>    
            <ng-template #uploadFront>
              <div>
                <button class="btn btn-primary mx-2" (click)="clearFiles()" >removefronst</button>
                
              </div>
            </ng-template>
          </div>
          <ng-template #elseBlockFront>
            <div *ngIf="isImgUploaded == false; else uploadBack">
              <div class="fileUpload" *ngIf="!isImgUploaded" else #uploadBack>
                <input #imageInput class="file" type="file" class="upload" (change)="handleFileChange($event)" accept="image/png" />
                <span>UploadBack</span>
              </div>
            </div>
            <ng-template #uploadBack>
              <div class="removeButton">
                <button class="btn btn-primary mx-2" (click)="clearFiles()" >removeback</button>
              </div>
            </ng-template>
          </ng-template>
          
          

          <div *ngIf="isImgUploaded;">
            <div class="mt-4 mb-2">
              <label for="width" class="mx-2">Width:</label>
              <input type="number" id="width" class="mx-1" max="250" [(ngModel)]="imageWidth" (change)="updateImage()" [ngModelOptions]="{standalone: true}">
              <label for="customRange2" class="form-label" >Width range 0-250</label>
            </div>
            <div>
              <label for="height" class="mx-2">Height:</label>
              <input type="number" id="height"  max="360" [(ngModel)]="imageHeight" (change)="updateImage()" [ngModelOptions]="{standalone: true}">
              <label for="customRange2" class="form-label" >Height range 0-360</label>
            </div>
          </div>
        </div>
        <div>
          <label for="height" class="mx-2">Price</label>
          <input type="number" id="height" min="550"max="1550" [(ngModel)]="priceRange" formControlName="price" >
          <label for="customRange2" class="form-label" >Price range 550-1550</label>
        </div>
        <div class="saveButton hideforMobile">
          <p>
            <button class="btn btn-primary ms-2" (click)="uploadImage()">Save</button>
          </p>
        </div>
      </div>
    </form>
  </div>
  
  <div class="bottomNavBarforMobView">
    <div class="navbar">
      <div class="upload">
        <p class="uploadIcon"><i class="fa fa-upload" aria-hidden="true"></i> </p>
        <p class="uploadText">upload</p>
      </div>
      <!-- <div class="color" (click)="changeHeight('S')">
        <p class="colorIcon"><button class="btn btn-primary" (click)="download()"></button></p>
        <p class="colorText">color</p>
      </div> -->
      <div class="size">
        <p class="sizeIcon">S</p>
        <p class="sizeText">size</p>
      </div>
    </div>
  </div>
  <img *ngIf="base64DataFrontSide != '' " [src]="getTrustedImageUrlFront()">
  <img *ngIf="base64DataBackSide != '' " [src]="getTrustedImageUrlBack()">
</body>



<!-- <img src="../../assets/createefi-5-5-2024.png"> -->