<body>
  <app-header-page></app-header-page>
  <div class="container">
    <div class="utilsforMobView">
      <div class="mb-2">
        <p><textarea ng-model="name" (keyup)="onKeyUp($event)" style="width: 50%;" rows="1" cols="50" placeholder="Design Name"></textarea></p>
      </div>
    </div>
    <div class="mainDiv">
      <canvas #mainCanvas class="mainCanvas"></canvas>
      <canvas #canvas class="canvas" id="canvas" width="160" ></canvas>
    </div>
    <div class="tipDiv">
      <div>
        Useful Tools/AI
      </div>
      <div>
        Use <strong><a href="https://www.textstudio.com/" target="_blank" style="color: #FF4500;">TEXTSTUDIO</a></strong> for text to image
      </div>
      <div>
        Use <strong><a href="https://pixlr.com/" target="_blank" style="color: #FF4500;">PIXLR</a></strong> for Editing/Creating Image
      </div>
    </div>
    
    <form [formGroup]="teeDetailForm" (ngSubmit)="onSubmit(teeDetailForm)">
      <div class="utils">
        <div class="shirtOptionContainer">
          <div class="shirtOptionContainer1">Shirt Side</div>
          <!-- <div class="shirtOptionContainer2">Design Preferences</div> -->
        </div>
        <div class="shirtOptionContainer">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
              <label class="btn btn-outline-dark sideLabel" for="btnradio1" (click)="toggleShirtSide('front')">Front</label>
            
              <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
              <label class="btn btn-outline-dark sideLabel" for="btnradio2" (click)="toggleShirtSide('back')">Back</label>
            </div>
        </div>
        <div class="mb-2">
          <p class="mb-0">Design Name:</p>
          <textarea ng-model="designName" (keyup)="onKeyUp($event)"  rows="1" cols="50" formControlName="teeName"></textarea>
        </div>
        <div class="mb-4">
          <p class="mb-0">Colors: {{imageColor}}</p>
          <button type="button" class="btn btn-circle  mx-2 btnColorBlack" (click)="changeImage(0)"></button>
          <button type="button" class="btn btn-circle mx-2 btnColorWhite" (click)="changeImage(1)"></button>
          <button type="button" class="btn btn-circle mx-2 btnColorBlue" (click)="changeImage(2)"></button>
          <button type="button" class="btn btn-circle mx-2 btnColorMaroon" (click)="changeImage(3)"></button>
        </div>
        <div class="colorNote">
          Attention: The displayed colors of tees are approximate and may not exactly match the final product
        </div>
        <div class="mb-2">
          <div *ngIf="currentSide == 'front'; else elseBlockFront">      
            <div *ngIf="isImgUploaded == false; else uploadFront">
              <div class="fileUpload" >
                <input #imageInput class="file" type="file" class="upload" (change)="handleFileChange($event)"  accept="image/*"/>
                <span style="font-size: 12px;">UploadImage</span>
              </div>
            </div>    
            <ng-template #uploadFront>
              <div class="RemoveBtn">
                <button class=" btn btn-dark mx-2 p-2" (click)="clearFiles()" >RemoveFront</button>                
              </div>
            </ng-template>
          </div>
          <ng-template #elseBlockFront>
            <div *ngIf="isImgUploaded == false; else uploadBack">
              <div class="fileUpload" *ngIf="!isImgUploaded" else #uploadBack>
                <input #imageInput class="file" type="file" class="upload" (change)="handleFileChange($event)" accept="image/*"/>
                <span style="font-size: 12px;">UploadImage</span>
              </div>
            </div>
            <ng-template #uploadBack>
              <div class="RemoveBtn">
                <button class="btn btn-dark mx-2 p-2" (click)="clearFiles()" >RemoveBack</button>
              </div>
            </ng-template>
          </ng-template>

          <div *ngIf="isImgUploaded;">
            <div *ngIf="currentSide == 'front'; else elseBlockFrontForInput">
              <div class="mt-4 mb-2">
                <label for="width" class="mx-2">Width:</label>
                <input type="number" id="width" class="mx-1" max="205" [(ngModel)]="imageWidth" (input)="validateHeight($event,true,205)"  (change)="updateImage()" [ngModelOptions]="{standalone: true}">
                <label for="customRange2" class="form-label" >range 1-205</label>
              </div>
              <div>
                <label for="height" class="mx-2">Height:</label>
                <input type="number" id="height" class="mr-1" max="268" [(ngModel)]="imageHeight" (input)="validateHeight($event,false,268)" (change)="updateImage()" [ngModelOptions]="{standalone: true}">
                <label for="customRange2" class="form-label" >range 1-268</label>
              </div>
            </div>
            <ng-template #elseBlockFrontForInput>
              <div class="mt-4 mb-2">
                <label for="width" class="mx-2">Width:</label>
                <input type="number" id="width" class="mx-1" max="230" [(ngModel)]="imageWidth" (input)="validateHeight($event,true,230)" (change)="updateImage()" [ngModelOptions]="{standalone: true}">
                <label for="customRange2" class="form-label" >range 1-230</label>
              </div>
              <div>
                <label for="height" class="mx-2">Height:</label>
                <input type="number" id="height" class="mx-1" max="310" [(ngModel)]="imageHeight" (input)="validateHeight($event,false,310)" (change)="updateImage()" [ngModelOptions]="{standalone: true}">
                <label for="customRange2" class="form-label" > range 1-310</label>
              </div>
            </ng-template>
          </div>
        </div>
        <div>
          <label for="height" class="mx-2">Price</label>
          <input type="number" id="height" min="550"max="1550" class ="mx-1" (input)="validatePrice($event)" [(ngModel)]="priceRange" formControlName="price" >
          <label for="customRange2" class="form-label" >range 550-1550</label>
        </div>
        <div class="saveButton hideforMobile">
          <p>
            <button class="btn btn-dark ms-2 p-2" (click)="uploadImage()">Save</button>
          </p>
        </div>
      </div>
    </form>
  </div>
  
  <div class="bottomNavBarforMobView">
    <div class="navbar">
      <div class="upload">
        <div class="fileUpload" *ngIf="!isImgUploaded" else #uploadBack>
          <input #imageInput class="file" type="file" class="upload" (change)="handleFileChange($event)" accept="image/png" />
          <p class="uploadIcon"><i class="fa fa-upload" aria-hidden="true"></i> </p>
          <p class="uploadText">upload</p>
        </div>
      </div>
      <div class="size">
        <p class="sizeIcon">S</p>
        <p class="sizeText">size</p>
      </div>
    </div>
  </div>
</body>