.confirm-container {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: 'Merriweather', serif;
  max-width: 400px;
  margin: auto;
}

.confirm-message {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  color: black;
  margin-bottom: 20px;
}

.confirm-actions {
  display: flex;
  justify-content: space-between;
}

.confirm-btn {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.proceed-btn {
  background-color: #007bff;
  color: white;
}

.proceed-btn:hover {
  background-color: #0056b3;
}

.back-btn {
  background-color: #dc3545;
  color: white;
}

.back-btn:hover {
  background-color: #b52b37;
}

.container{
    height: auto;
}

.success-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  margin: auto;
}

.success-title {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  color: black;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.confirm-box {
  background: #d7f5da;
  padding: 15px;
  border-radius: 8px;
}

.confirm-box h5 {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  color: #007bff;
}

.confirm-box p {
  font-family: 'Merriweather', serif;
  font-size: 14px;
  color: black;
  margin: 5px 0;
}

.confirm-actions {
  margin-top: 20px;
}

.confirm-btn {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.back-shop-btn {
  background-color: #007bff;
  color: white;
}

.back-shop-btn:hover {
  background-color: #0056b3;
}