<app-loader *ngIf="isLoading"></app-loader>
<body>
    <div class="confirm-container" *ngIf="fromCod != false; else orderPlaced">
        <div class="confirm-message">
            Proceeding with cash on delivery will add an extra ₹59, making the total ₹{{
                finalPrice
            }}.
        </div>
        <div class="confirm-actions">
            <button type="button" class="confirm-btn proceed-btn" (click)="placeOrder()">
                Proceed
            </button>
            <button type="button" class="confirm-btn back-btn" (click)="closeModal('back')">
                Back
            </button>
        </div>
    </div>

    <ng-template #orderPlaced>
        <div class="success-container">
            <h1 class="success-title">Thank you for your order</h1>

            <div class="confirm-box">
                <h5>ORDER CONFIRMATION</h5>
                <p>Your order #{{ orderId }} has been placed!</p>
                <p>Thank you for choosing Createefi.</p>
            </div>

            <div class="confirm-actions">
                <button type="button" class="confirm-btn back-shop-btn" (click)="redirectShop()">
                    Back to Shop
                </button>
            </div>
        </div>
    </ng-template>
</body>
