*{
    margin: 0;
    padding: 0;
  }
  
body {
  height: 100vh;
  background-color: #ffffff;
  margin: 0;
  overflow: auto;
  color: black;
  position: fixed;
  width: 100vw;
  overflow-x: hidden;
}

.mainBox{
  margin-top: 6vh;
}

.container {
  background: #dfdfdf;
  position: relative;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  margin: auto;
  color: black;
  border-radius: 30px;

}
.mainCanvas{
  height: 350px;
  margin-left: 60%;
  margin-top: 40%;
}

.canvas-container {
  position: relative;
  width: 175px;
  height: 150px;
}

.canvas-container canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.canvasFront {
  height: 190px;
  position: absolute;
  margin-top: 145px;
  margin-left: 225px;
  width: 340px;
}

.canvasBack {
  height: 220px;
  position: absolute;
  margin-top: 153px;
  margin-left: 225px;
  width: 340px;
}
.RotateBtn{

}
.imgTag {
  margin-left: 10%;
  height: 80vh;
  img{
    border: solid;
    height: 100%;
  }
}

.right-side {
  margin-top: 2%;
  width: 30%;
  height: 70vh;
  margin-left: 5%;
  font-size: larger;
  font-weight: 600;
  overflow: auto;
  padding: 5px;
  
  .sellerlabel{
    padding-inline : 5px;
    font-weight: 600;
  }

  .tee-Name{
    padding-inline : 5px;
    font-weight: 400;
  }

  .buyButton{
    text-align: center;
    button{
      width: 60%;
    }
  }
}

.colorBtn{
  border : 2px solid black;
  height: 25px;
  width: 25px;
  border-radius: 50px;
}

.colorDiv{
  display: flex;
}

.colorBtnDiv{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  
}
.active{
  border: 3px solid black !important;
}

.sizeDiv{
  position: relative;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  color: blue;
  .sizeTxt{
    cursor: pointer;
  }
  button{
    z-index: 99;
    font-weight: 600;
    width: 15%;
    border: 3px solid rgb(164, 164, 164);
  }
  button:hover{
    border: 3px solid black !important;
  }
}

.productTitle{
  display: flex;
  justify-content: center;
}

.productChild{
  display: flex;
  justify-content: space-between;
  font-weight: 300;
}

.borderTop{
  border-top: 4px solid #d9d9d9;
}
.hr{  
  height: 5px;
  border-bottom: 4px solid #d9d9d9;
}

.checkoutText{
  position: relative;
  z-index: 999;
  color: blue;
  cursor: pointer;
}
.borderBottom{
  position: relative;
  z-index: 999;
}
.icon-style {
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  margin: 50px;
  cursor: pointer;
  margin-left: 75px !important;
  position: absolute;
  z-index: 999;
}
@media(max-width:600px) {
  .mainBox{
    margin-top:0;
  }

  .container{
    position: relative;
    height: 142vh;
    display: block;
    justify-content: center;
    margin: auto;
    color: black;
    border-radius: 0px;
    padding-bottom: 12%;
    margin-bottom: 12%;
  }
  .mainCanvas{
    height: 320px;
    margin-left: 4px;
    margin-top: 16px;
  }
  
  .canvas-container {
    position: relative;
    width: 175px; /* Adjust to the width of your canvas */
    height: 150px; /* Adjust to the height of your canvas */
  }
  
  .canvas-container canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  .canvasFront {
    height: 190px;
    position: absolute;
    margin-top: 80px;
    margin-left: 104px;
    width: 340px;
  }
  
  .canvasBack {
    height: 220px;
    position: absolute;
    margin-top:80px;
    margin-left: 109px;
    width: 340px;
  }

  .right-side {
    height: auto;
    margin-top: 50%;
    width: auto;
    float: none;
    padding: 0px;
    margin-left: 3%;
    overflow: hidden;
  }

  .left-side{
    margin-top: 6%;
    width: 80vw;
    margin-left: 0%;
    padding: 1% 2% 1% 2%;
    border-radius: 6%;
  }
  .imgTag {
    height: auto;
    img{
      border: solid;
      height: 56vh;
      width: 80vw;
    }
  }

  .colorBtn{
    border : 2px solid black;
    height: 25px;
    width: 25px;
    border-radius: 50px;
  }

  .buyButton{
    position: fixed;
    bottom: 0;
    width: 100% !important;
    text-align: center;
    margin-left: -5%;
    background-color: black;
    z-index: 9999;
    button{
      height: 42px;
      /* height: 5vh; */
      width: 105% !important;
    }
  }

  .checkoutText{
    position: relative;
    z-index: 999;
    font-size: 18px;
    margin-bottom: 3%;
    cursor: pointer;
    margin-top: -5px;
  }

  .borderBottom{
    border-bottom: 5px solid #d0cfcf;
    padding: 5px;
  }
  .icon-style {
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    margin-left: 5px !important;
    position: absolute;
    z-index: 999;
  }

  .productDetails{
    padding-inline: 10px;
  }
}


/* scroll bar */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Style the scrollbar track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}

/* Style the scrollbar thumb */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}

/* Style the thumb on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #999; 
}