<ngx-ui-loader ></ngx-ui-loader>
<body>
  <app-header-page></app-header-page>
  <div class="mainBox">
    <div class="container">
      <div class="left-side">
        <i class="fa-solid fa-rotate icon-style" (click)="changeSide()"></i>
        <div class="canvas-container">
          <canvas #mainCanvas class="mainCanvas" [id]="'mainTeeData'" width="175" height="150"></canvas>
          <canvas #canvas class="canvasFront" id="canvas" ></canvas>
        </div>
      </div>
      <div class="right-side custom-scrollbar">
        <div class="sellerlabel">
          {{user_Id}}
        </div>
        <div class="tee-Name">
            {{data?.teeName_Name}}
        </div>
        <div class="mb-2 borderBottom ">
          <div class="d-flex">
            <p class="mb-0 price mr-1" *ngIf="showContent; else elseBlockforPrice">Rs. {{data?.tee_Price}}</p>
            <ng-template #elseBlockforPrice>
              <s style="margin-right: 5px;"> Rs. {{data?.tee_Price}} </s> <p>Rs. {{discountedPrice}}</p>
            </ng-template>
          </div>            
          <p class="h6"> Tax included.Shipping free on Online Payment!</p>
          <p class="h6"> Normal Delivery | 5-9 days</p>
        </div>
          <div class="borderBottom">
          <div class="sizeDiv mb-0" >
            <div class="sizeTxt" (click)="showImage()">Size</div>
            <button type="button" style="width:15%;" class="btn btn-circle btn-light mx-2" [ngClass]="{'active': activeSizeBtn === 'S'}" (click)="changeSize('S')">S</button>
            <button type="button" style="width:15%;" class="btn btn-circle btn-light mx-2" [ngClass]="{'active': activeSizeBtn === 'M'}" (click)="changeSize('M')">M</button>
            <button type="button" style="width:15%;" class="btn btn-circle btn-light mx-2" [ngClass]="{'active': activeSizeBtn === 'L'}" (click)="changeSize('L')">L</button>
            <button type="button" style="width:15%;" class="btn btn-circle btn-light mx-2" [ngClass]="{'active': activeSizeBtn === 'XL'}" (click)="changeSize('XL')">XL</button>
          </div>
          <p class="h6 d-flex justify-content-center"> Click on Size for Size Chart</p>
        </div>
          
          <div class="mb-1 borderBottom">
            <p>Coupon & Coins</p>
            <input type="text" class="form-control mb-1" style="height: 30px;padding: 10px;" placeholder="Enter Coupon Code" (keyup)="onKeyUp($event)" [disabled] = "isChecked">
            <div class="d-flex justify-content-center" *ngIf="couponData.length == 0; else elseBlock">
              <button type="button" class="btn btn-dark" style="padding: 6px;padding-inline: 16px;" (click)="checkCoupon()" [disabled]="this.enteredCouponInput.length == 0 || isChecked">Apply</button>
            </div>
            <ng-template #elseBlock>
              <div> {{couponData.coupon_text}}</div>
            </ng-template>
            <div style="font-size: 16px;">
              <input type="checkbox" style="transform: scale(1.5); margin-right: 10px;" [(ngModel)]="isChecked" (click)="checkCoupon(false)" [disabled]="couponData.couponAvailable || coins < 99"/>
              <label>Use Createefi Coins ({{coins}} available)</label>
            </div>
          </div>
            
          <div class="buyButton">
            <button type="button" class=" btn btn-circle btn-dark" (click)="openModal()">Buy Now</button>
          </div>
          

          <div class="ReferralSection borderBottom" *ngIf="!visitor">
            <p>Refer & Earn</p>
            <p>You will get Rs.500 for every friend</p>
            <p style="color: blue;position: relative;z-index: 999; cursor: pointer;" (click)="openRefferalModal()">Refer Now</p>
          </div>
          <div class="ReferralSection borderBottom" *ngIf="visitor">
            <p>Register & Earn</p>
            <p>You will receive Rs. 500 upon registration.</p>
            <p style="color: blue;position: relative;z-index: 999; cursor: pointer;" (click)="openSingup()">Register Now</p>
          </div>

          <div class="productDetails">
            <div class="productTitle">Product Details</div>
            <div class="productChild">
              <p>Color</p><p>{{data?.tee_Color}}</p>
            </div>
            <div class="productChild">
              <p>Fabric</p> <p>Cotton</p>
            </div>
            <div class="productChild">
              <p>Streetwear</p> <p>Yes</p>
            </div>
            <div class="productChild">
              <p>CollegeWear</p> <p>Yes</p>
            </div>
          </div>
      </div>
    </div>
  </div>
  </body>