*{
    margin: 0;
    padding: 0;
  }
  
body {
  height: 100vh;
  background-image: url('../../assets/blue-purple.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden;
  color: white;
  position: fixed;
  width: 100vw;
}

.container {
  position: relative;
}

.right-side {
  margin-top: 2%;
    float: right;
    width: auto;
    /* height: 100px !important; */
  .canvasFront {
    height: 47vh;
    width: 32vw;
    margin-top: 13%;
    position: absolute;
    /* top: 30%; */
    margin-left: 13%;
  }
  .canvasBack {
    height: 54vh;
    width: 32vw;
    margin-top: 21vh;
    position: absolute;
    margin-left: 11vw;
  }
  .RotateBtn{

  }
  img {
    margin-left: 10%;
    height: 80vh;
    /* right: 20; */
  }
}

.left-side {
  margin-top: 5%;
  float: left;
  background: red;
  width: 25%;
  height: auto;
  margin-left: 10%;
  .tee-Name{
    text-align: center;
  }
}
