<body>
  <app-header-page></app-header-page>
  <div class="mainBox">
    <div class="container">
      <div class="left-side">
        <i class="fa-solid fa-rotate icon-style" (click)="changeSide()"></i>
        <div class="canvas-container">
          <canvas #mainCanvas class="mainCanvas" [id]="'mainTeeData'" width="175" height="150"></canvas>
          <canvas #canvas class="canvasFront" id="canvas" ></canvas>
        </div>
      </div>
      <div class="right-side">
        <div class="sellerlabel">
          {{user_Id}}
        </div>
        <div class="tee-Name">
            {{data?.teeName_Name}}
        </div>
        <div class="mb-2 borderBottom ">
          <div class="d-flex">
            <p class="mb-0 price mr-1" *ngIf="!couponData.couponAvailable; else elseBlockforPrice">Rs. {{data?.tee_Price}}</p>
            <ng-template #elseBlockforPrice>
              <s style="margin-right: 5px;"> Rs. {{data?.tee_Price}} </s> <p>Rs. {{discountedPrice}}</p>
            </ng-template>
          </div>            
          <p class="h6"> Tax included.Shipping free on Online Payment!</p>
          <p class="h6"> Normal Delivery | 5-9 days</p>
        </div>
          <div class="mb-3 borderBottom">
          <div class="sizeDiv mb-0" >
            <div class="sizeTxt" (click)="showImage()">Size</div>
            <button type="button" style="width:15%;" class="btn btn-circle btn-light mx-2" [ngClass]="{'active': activeSizeBtn === 'S'}" (click)="changeSize('S')">S</button>
            <button type="button" style="width:15%;" class="btn btn-circle btn-light mx-2" [ngClass]="{'active': activeSizeBtn === 'M'}" (click)="changeSize('M')">M</button>
            <button type="button" style="width:15%;" class="btn btn-circle btn-light mx-2" [ngClass]="{'active': activeSizeBtn === 'L'}" (click)="changeSize('L')">L</button>
            <button type="button" style="width:15%;" class="btn btn-circle btn-light mx-2" [ngClass]="{'active': activeSizeBtn === 'XL'}" (click)="changeSize('XL')">XL</button>
          </div>
          <p class="h6 d-flex justify-content-center"> Click on Size for Size Chart</p>
        </div>
          
          <div class="borderBottom">
            <input type="text" class="form-control mb-1" placeholder="Enter Coupon Code" (keyup)="onKeyUp($event)">
              <div *ngIf="couponData.length == 0; else elseBlock">
                <button type="button" class="btn btn-dark" (click)="checkCoupon()" [disabled]="this.enteredCouponInput.length == 0">Apply</button>
              </div>
              <ng-template #elseBlock>
                <div> {{couponData.coupon_text}}</div>
              </ng-template>
          </div>
            
          <div class="buyButton">
            <button type="button" class=" btn btn-circle btn-dark" (click)="openModal()">Buy Now</button>
          </div>
          

          <div class="ReferralSection borderBottom" *ngIf="!visitor">
            <p>Refer & Earn</p>
            <p>You will get Rs.500 for every friend</p>
            <p style="color: blue;position: relative;z-index: 999; cursor: pointer;" (click)="openRefferalModal()">Refer Now</p>
          </div>
          <div class="ReferralSection borderBottom" *ngIf="visitor">
            <p>Register & Earn</p>
            <p>You will receive Rs. 500 upon registration.</p>
            <p style="color: blue;position: relative;z-index: 999; cursor: pointer;" (click)="openSingup()">Register Now</p>
          </div>

          <div class="productDetails">
            <div class="productTitle">Product Details</div>
            <div class="productChild">
              <p>Color</p><p>Black</p>
            </div>
            <div class="productChild">
              <p>Fabric</p> <p>Black</p>
            </div>
            <div class="productChild">
              <p>Ocassion</p> <p>Baalack</p>
            </div>
            <div class="productChild">
              <p>WashCare</p> <p>Black</p>
            </div>
          </div>
        </div>
    </div>
  </div>
  </body>