@font-face {
  font-family: 'CinemaGroovy';
  src: url('../assets/font/CinemaGroovy-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'DesignerThickers';
  src: url('../assets/font/DesignerThickersRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'Lobster';
  src: url('../assets/font/Lobster-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'NightRumble';
  src: url('../assets/font/NightRumble.woff2') format('woff2');
}

@font-face {
  font-family: 'RetroImpact';
  src: url('../assets/font/RetroImpactRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'SnakeheadGraffiti';
  src: url('../assets/font/Snakehead Graffiti.woff2') format('woff2');
}

@font-face {
  font-family: 'ComicZine';
  src: url('../assets/font/ComicZineOT.woff2') format('woff2');
}

@font-face {
  font-family: 'Flipped';
  src: url('../assets/font/Flipped.woff2') format('woff2');
}

@font-face {
  font-family: 'NaishilaDancingScript';
  src: url('../assets/font/NaishilaDancingScript.woff2') format('woff2');
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/font/Oswald-Heavy.woff2') format('woff2');
}

@font-face {
  font-family: 'Ryzes';
  src: url('../assets/font/Ryzes.woff2') format('woff2');
}

@font-face {
  font-family: 'SpookyStories';
  src: url('../assets/font/Spooky Stories.woff2') format('woff2');
}

@font-face {
  font-family: 'CooperBlack';
  src: url('../assets/font/CooperBlack.woff2') format('woff2');
}

@font-face {
  font-family: 'DASHER';
  src: url('../assets/font/DASHERRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'GEMSEAtrial';
  src: url('../assets/font/GEMSEAtrial-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'GreatVibes';
  src: url('../assets/font/GreatVibes-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'NekoNeco';
  src: url('../assets/font/NekoNeco.woff2') format('woff2');
}

@font-face {
  font-family: 'PermanentMarker';
  src: url('../assets/font/PermanentMarker-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Supernova';
  src: url('../assets/font/SupernovaRegular.woff2') format('woff2');
}

@font-face {
  font-family: 'NCLBroesq';
  src: url('../assets/font/NCLBroesq-Demo.woff2') format('woff2');
}

@font-face {
  font-family: 'Pacifico';
  src: url('../assets/font/Pacifico-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'StarKillers';
  src: url('../assets/font/StarKillers.woff2') format('woff2');
}
@font-face {
  font-family: 'Orbitron';
  src: url('../assets/font/Orbitron.woff2') format('woff2');
}
