/* You can add global styles to this file, and also import other style files */
@import url('./assets/font.css');
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body {
  font-family: 'Merriweather', serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
}

.animate-fade-in {
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
