<!-- <div class="uploadButton">
    <button  (click)="openModal()">Open Canvas</button>
</div> -->
<div class="section1">
    <div class="create1">
        <span class="createSpan">Create<br>Wear<br>Tee</span>
    </div>
    <div class="section1lines">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga expedita laborum soluta asperiores perspiciatis magnam maiores atque possimus, quibusdam molestiae nulla accusantium veritatis odio sed in voluptatibus enim dignissimos ullam?</div>
</div>
<div class="section2header">Create</div>
<div class="section2">
        <div class="section2lines">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga expedita laborum soluta asperiores perspiciatis magnam maiores atque possimus, quibusdam molestiae nulla accusantium ververitatis odio sed in voluptatibus enim dignissimos ullam?
        </div>
        <div class="create2">
            <span>Start Your<br>Own Store</span>
        </div>
</div>
<div class="section2bottom">Get Started</div>
